{% extends 'AppLogin/padre.html' %}

{% load static %}

{% block loquecambia %}

<!-- <h1>¿Quien soy?</h1> -->
			<img src="{% static 'AppLogin/images/me.jpg' %}" class="center" />
			
			<h2 class="mg">Presentacion</h2>
				  <p style="font-family: sans-serif;">Hola, soy Gabriel. Tengo 31 años y me desarrollo profesionalmente en el sector de ciberseguridad hace 10 años, actualmente ocupo el puesto de Arquitecto de
                    ciberseguridad pero he pasado por otros sectores dentro de área como accesos y perfiles, control y monitereo en empresas de retail, energía y financieras.
                    Además soy técnico electrónico y desde hace un tiempo estoy interesado en el desarrollo donde me encuentro realizando los primeros pasos.
                    Desde el lado más personal me gusta realizar deportes, principalmente futbol pero también practiqué desde basquet, tenis, natación hasta padel. Tengo un lado musical
                    donde intento tocar el bajo y como verán me interesa mucho el tema del universo y la ciencia, puedo decir que he leído y visto desde 
                    videos a documentales para aprender y entrenerme. Finalmente en mi tiempo libre me gusta ir a la cancha, recitales y al cine.
                    Espero que disfruten la página. Saludos.
                  </p>
                  <p style="font-family: sans-serif;">Les comparto mi perfil de LinkedIn por si es de su agrado conectar:</p>
				  <a style="font-style: italic; color: aqua;" href="https://www.linkedin.com/in/gabriel-omar-galvan-66182211b/">LinkedIn</a>
    

{% endblock %}